body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
}

.fakeimg {
  height: 200px;
  background: #aaa;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}